:root {
  --bg: #292935;
  --font: #ede7ba;
  --button: yellow;
  --yelaccent: #d3d59b;
  --bluaccent: #495c83;
  --bgtest: lightblue;
  --wrong: #de5d5d;
  --fontfamily: Comfortaa;
  --buttonback: #3b3b4769;
  --bgaccent: #333340;
  --history: #17745d;
  --historyAccent: #074641;
}

body{
  background-color: var(--bg);
  /* width: 100%; */
  /* height: 100%; */
}

/*header style*/
.header{
  text-align: center;
  vertical-align: center;
  font-weight: bolder;
  width: 100%;
  }

.header h1{
  color: var(--font);
  align-items: center;
  font-size: 60px;
  margin: 0;
  font-family: var(--fontfamily);

}

/* button levels */
#buttoncontainer {
width: 100%;
}

#buttonRow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50%;
  flex-wrap: wrap;
  align-items: center;
}

#selection{
    visibility: visible;
    max-width: 40%;
    min-width: 300px;
    text-align: center;
    font-family: var(--fontfamily);
    background-color: var(--buttonback);
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
    color: var(--yelaccent);
    border-radius: 10px;
    align-items: center;
}

option{
  background-color: var(--bg);
  align-items: center;
  max-width: 40%;
  min-width: 300px;
}

.level{
  height : 90px;
  margin: 5px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.level:hover {
background-color: var(--bgaccent);
}

.level h2{
  vertical-align:middle;
  text-align: center;
  font-size: 20px;
  font-family: var(--fontfamily);
  margin: 0;
}

/*history wordstats and textbox*/
.audio-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; /* adjust as needed */
}

.audio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 80%;
  /* width: 100%; */
}

.playaudio {
  max-width: 150px;
  aspect-ratio: 1/1;
  margin: 0;
  border-radius: 20px;
  flex-grow: 1;
  order: 5;
  background-color: var(--buttonback);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--yelaccent);
  margin: 10px;
  min-width: 100px;
}

.midaudio {
  max-width: 150px;
  aspect-ratio: 1/1;
  margin: 0;
  border-radius: 100px;
  flex-grow: 1;
  order: 5;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--yelaccent);
  min-width: 100px;
}

.playaudio:hover {
  background-color: var(--bluaccent);
}

.playaudio p {
  font-size: 16px;
  margin: 10px 0 0 0;
  text-align: center;
}

.volbutton {
  font-size: 55px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  justify-content: end;
}

form label {
  color: var(--font);
  font-family: var(--fontfamily);
  font-size: 24px;
}

form input {
  width: 80%;
  max-width: 600px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submit{
  background-color: var(--bgtest);
  border-radius: 50px;
  max-width: 50%;
  min-width: 20%;
  height: 50px;
}

.submit:hover{
  background-color: var(--bluaccent);
  color: var(--font);
  border-radius: 50;
  max-width: 25%;
  max-height: 10%;
}

.text{
  display: none;
}

/*skip*/

.skip {
  width: 100%;
  display: flex;
  max-height: 90px;
  flex-direction: column;
  margin: 0;
  border-radius: 10px;
  background-color: var(--buttonback);
  align-items: center;
  color: var(--font);
  font-family: var(--fontfamily);
  margin-bottom: 15px;
  min-height: 90px;
  justify-content: center;
}

.skip:hover {
  background-color: var(--bluaccent);
}

p { 
  margin:0;
}

/*HISTORY*/
#history{
  max-width: 95%;
  margin: 10px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  background-color: var(--bgaccent);
  border-radius: 10px;
  justify-content: center;
}

.historyWord{
  border-radius: 10px;
  margin: 8px;
  align-items: center;
  vertical-align: middle;
  min-width: 20vmax;
}

.historyWord p{
  color: var(--font);
  margin: 20px;
  display: flex;
  flex-direction: row;
  display: inline;
  margin-left: 5px;
}

.check{
  color: var(--history);
  vertical-align: middle;
}

.xmark{
  color: lightcoral;
  vertical-align: middle;
}

/*footer*/

footer{
  align-items: center;
  vertical-align: middle;
  width: 100%;
  height: 20%;
  border-radius: 5px;
}
footer p{
  color: var(--font);
  font-family: var(--fontfamily);
}

a{
  color: var(--font);
}